@model IEnumerable<MvcPL.Models.BlogViewModel>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of existing blogs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogName)
        </th>
        <th>
            User information
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        ViewBag.UserName = Html.Action("GetLoginById", "User", new {id = item.UserId}).ToString();
        <tr>
            <td>
                @Html.ActionLink(item.BlogName, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink((string)ViewBag.UserName, "Details", "User", new { id = item.UserId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
        </tr>
    }
</table>
