@using MvcPL.Models
@model UserViewModel

@{
    ViewBag.Title = "Create user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <h3>Create user</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Role)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Role,
                    new SelectList(Enum.GetNames(typeof(Role))), string.Empty)
            </div>
        </div>

        <div class="col-md-6">
            <input value="Выберите аватар" type="file" accept="image/*" name="uploadImage"/>
        </div>
    </div>
        
    <p>
        <input type="submit" value="Create user" />
    </p>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


