@model MvcPL.Models.UserViewModel

@{
    ViewBag.Title = "User details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["UserId"] = Model.Id;
}

<h4>User:</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <a href="@Url.Action("GetImage", "User", new {id = Model.Id})">
            <img width="200" height="200" src="@Url.Action("GetImage", "User", new {id = Model.Id})"/>
        </a>
        
    </div>
</div>
<p>
    @if (Model.BlogId != null)
    {
        @Html.ActionLink("Blog details", "Details", "Blog", new {id = Model.BlogId}, null)
        <br/>
    }
    @Html.ActionLink("Edit user", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Delete user", "Delete", new {id = Model.Id}) |
    @Html.ActionLink("Back to list of users", "Index")
</p>
