@model MvcPL.Models.UserViewModel

@{
    ViewBag.Title = "Edit user";
    ViewBag.ReturnUrl = Request.UrlReferrer?.AbsoluteUri;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <h3>Edit user</h3>

    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Role)
            @Html.HiddenFor(model => model.Password)
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
            </div>
            @Html.HiddenFor(model => model.Image)
        </div>

        <div class="col-md-6">
            <img width="200" height="200" src="@Url.Action("GetImage", "User", new { id = Model.Id })" />
            <br />
            <input value="Выберите аватар" type="file" accept="image/*" name="uploadImage" />
        </div>

    </div>
    
    <p>
        <input type="submit" value="Save changes" />
    </p>
}

<div>
    <a href="@ViewBag.ReturnUrl">Cancel</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


