@model IEnumerable<MvcPL.Models.PostViewModel>

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of existing posts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            Blog name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Post", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.Action("GetNameById", "Blog", new { id = item.BlogId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
        </tr>
    }

</table>
